/* CSS STYLESHEET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(181, 213, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5pt;
}

#control-panel {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
}

#control-panel > *:first-child {
    display: flex;
    gap: 10px;
}

#control-panel > :last-child {
    display: flex;
    gap: 10px;
}

#size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-size {
    transition: opacity .2s;
}

#grid-container {
    cursor: crosshair;
    height: 400px;
    width: 400px;
    border: 1px solid rgb(117, 117, 117);
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.rows {
    flex-grow: 1;
    display: flex;
    
}

.grid-elem {
    width: 25px;
    background-color: rgb(255, 255, 255);
    flex: auto;
}

#header {
    height: 50px;
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    background-color: rgb(78, 105, 194);
    flex: 0 0 auto;
    text-align: center;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    color: azure;
}

#footer {
    height: 25px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgb(52, 57, 73);
    flex: 0 0 auto;
    text-align: center;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    color: azure;
}

